// import "./hello-world.tera"

route "/ping" GET: {
  status: 204 // optional
  json: {
    message: "pong"
  }
}

route "/" GET: {
    json: {
        "json-key": "json-value"
        num: 7
        float: 3.13
        isBool: true
        nested: {
            struct: true
        }
    }
}
